<h1>New Kill</h1>

<p>
	Congratulations on killing <%= @target.name %>!
	The kill will need to be confirmed by <%= @target.name %> or an admin before it counts.
	Please fill out the information below about your kill.
	It is optional, but it is greatly appreciated if it is filled out.
</p>

<%= render "form" %>
