<%= markdown @page.content if @page.content %>

<%= link_to "Edit", edit_page_path(@page), class: "btn btn-default" if can?(:update, @page) %>

<% if can?(:update, @page) %>
    <p><i>
        <% if @page.sort_index && @page.sort_index > SortIndex::WELCOME %>
            Sort index is <%= @page.sort_index %>.
        <% else %>
            Page has no sort index.
        <% end %>
    </i></p>
<% end %>
